/*
#69D2E7 blue
#A7DBD8 light blue
#E0E4CC sand
#F38630 orgn
#FA6900
*/
*{
    margin:0;
    padding:0;
}

.button{
    font-family:helvetica;
}

header{
    background:#69d2e7;
    margin:0 auto;
    padding: 1em 5% ;
    width:80%;
}
h1{
    color:#fa6900;
    font-size:2.5em;
    font-weight:bold;
    padding:0.4em 0;
}
h1 a {
    text-decoration: none;
    color:#fa6900;
}
h2{
    color:#888;
    font-size:1.4em;
    font-weight:bold;
    padding:0.5em ;
}
body{
    font-family:helvetica;
    background: #e0e4cc;
    color: #444;
}
body#button{
    background:none;
}
#content{
    background:#ffffff;
    margin:0 auto;
    width:80%;
    padding: 1em 5% 13em;
}
header img{
    position:absolute;
    top:10px;
    right:20px;
}
section{
    border-top:0.2em solid #F38630;
    margin:0.6em 0 0 0;
}
section#top_supporters {
    height: 8em;
}
.supporter {
    text-align: center;
    width: 100px;
    float: left;
}
input{
    width: 8em;
}

.hidden{
    display:none;
}
.mention {
    height: 90px;
}

.mention img {
    float: left;
    margin-right: 20px;
}

.fundraiser img {
    float: left;
    margin-right: 20px;
}

.fundraiser {
    width: 30%;
    padding: 1%;
    float: left;
}
