<html>
<head>
    <title>{% block head_title %}JustGivingThanks{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}main.css" />
    <script data-main="{{ STATIC_URL }}scripts/main" src="{{ STATIC_URL }}scripts/require-jquery.js"></script>
</head>
<body>
    <header>
    <h1><a href="/">JustGivingThanks</a></h1>
        <p>Boost your Fundraising with your social network</p>
        {% if not supporter %}
        <img id="header-image" src="{{ STATIC_URL }}/img/gold_sticker_small.png" />
        {% endif %}
    </header>

    <div id="content">
        {% block content %}
            Welcome to Just Giving Thanks
        {% endblock %}
    </div>
</body>
</html>
