<html>
<head>
    <title>{% block head_title %}JustGivingThanks{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}main.css" />
    <script src="{{ STATIC_URL }}js/lib/lib.js" type="text/javascript"></script>

</head>
<body>
    <h1> Just Giving Badges </h1>
    <div id="wrapper">

        <div id="messages">
            {% if messages %}
                <ul>
                     {% for message in messages %}
                        <li>{{ message }}</li>
                     {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% block content %}
            Welcome to Just Giving Badges
        {% endblock %}
    </div>
</body>
</html>
