{% extends "base.html" %}

{% block content %}

    {% if not fundraiser %}
        <div id="register">
            <h3>Link your Twitter Account and start connecting with your supporters!</h3>
            <a href="{% url register %}">Sign up</a>
        </div>
    {% endif %}

    
    <section id="top_fundraisers">
        <h3>Most successful social fundraisers</h3>
        <p>These fundraisers have been most successful at raising support through social networks:</p>
        {% for fundraiser in top_fundraisers %}
                {% include "fundraiser_snippet.html" %}
        {% endfor %}
    </section>
    
{% endblock %}
