{% extends /base.html %}

{% block content %}
    {% block just-give %}
        <section id="">
        </section>
    {% endblock %}
    
    {% block latest %}
        <section id="latest">
            <h2>Latest News</h2>
            <p>You have no news :(</p>
        </section>
    {% endblock %}
    
    {% block badge %}
        <section id="badge">
            <h2>Get a badge</h2>
        </section>
    {% endblock %}
    
    {% block supporters %}
        <section id="supporters">
            <h2>Supporters</h2>
        </section>
    {% endblock %}
{% endblock %}