{% extends/base.html %}

{% block supporters %}
<section id="supporters">
    <h2>{{fundraiser_id.screen_name}}’s Supporters</h2>
    {% for supporter in supporters %}
        <article>
            <a href="{% url supporter-page fundraiser_id supporter.screen_name %}"><img src="{{ supporter.img_url }}" height="80" width="80" /></a>
            <div class="bio">
                <h3><a href="{% url supporter-page fundraiser_id supporter.screen_name %}">{{ supporter.screen_name }}</a></h3>
                <p>{{ supporter.twitter_bio }}</p>
            </div>
        </article>
    {% endfor %}
</section>
{% endblock %}